<div class="sidenav">
  @Html.ActionLink("View Stylists", "Index", "Stylists")
  @Html.ActionLink("Add Stylist", "Create", "Stylists")
  @Html.ActionLink("View Clients", "Index", "Clients")
  @Html.ActionLink("Add Client", "Create", "Clients")
</div>