@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Add a New Stylist</h1>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required = true })
  </div>
  <input type="submit" value="Add New Stylist" class="btn btn-success" />
}