@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Edit Stylist Information</h1>
<h2>@Model.Name</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name, new { @class="form-control", @required=true})
  </div>
  <input type="submit" value="Edit Stylist" class="btn btn-info" />
}