@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model IEnumerable<HairSalon.Models.Stylist>;

<h1>Stylists</h1>

@if (!Model.Any())
{
  <p>No Stylists Added</p>
}
else
{
  <form asp-controller="Stylists" asp-action="Index">
    <label for="stylist">Filter By Name</label>
    <input name="stylist" id="stylist" type="text" />
    <input type="submit" value="Filter" class="btn btn-info" />
  </form>
  <ul>
    @foreach(Stylist stylist in Model)
    {
      <li>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</li>
    }
  </ul>
}