@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model IEnumerable<HairSalon.Models.Appointment>

@if (!Model.Any())
{
  <p>No appointments added</p>
}
else
{
  <ul>
    @foreach(Appointment appointment in Model)
    {
      <li>@Html.ActionLink($"{appointment.Time}", "Details", new { id = appointment.AppointmentId }) | @appointment.Client.Name | @appointment.Stylist.Name </li>
    }
  </ul>
}