@{
  Layout = "_Layout";
}

<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="~/img/tools.jpg" alt="hairdressing implements">
  </div>
  <div class="card">
    <img class="card-img-top" src="~/img/lady1.jpg" alt="A woman">
  </div>
  <div class="card">
    <img class="card-img-top" src="~/img/lady2.jpg" alt="A woman">
  </div>
  <div class="card">
    <img class="card-img-top" src="~/img/man1.jpg" alt="A man">
  </div>
  <div class="card">
    <img class="card-img-top" src="~/img/lashes.jpg" alt="false lashes">
  </div>
  <div class="card">
    <img class="card-img-top" src="~/img/cat.jpg" alt="A cat">
  </div>
</div>