@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Client

<h1>Edit Client Information</h1>
<h2>@Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required=true })
  </div>
  <select name="stylistId" id="stylistId" class="form-control">
    @foreach(Stylist stylist in @ViewBag.StylistList)
    {
      <option value=stylist.StylistId>stylist.Name</option>
    }
  </select>
  <input type="submit" value="Edit Client" class="btn btn-info" />
}