@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model IEnumerable<HairSalon.Models.Client>

<h2>Clients</h2>
@if (!Model.Any())
{
  <p>No Clients Added</p>
}
else
{
  <form asp-controller="Clients" asp-action="Index">
    <label for="client">Filter By Name</label>
    <input name="client" id="client" type="text" />
    <input type="submit" value="Filter" class="btn btn-info" />
  </form>
  <ul>
    @foreach(Client client in Model)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @client.Stylist.Name </li>
    }
  </ul>
}